<div class="homepage-how-it-works" id="learn-more">
  <div class="row">
    <div class="homepage-how-it-works__hiw-content">
      <div class="hiw-content__headings">
        <h2 class="text-4xl"><%= _("- How It Works: 3 Steps") %></h2>
        <p class="hiw__subtitle text-lg p-10">
          <%= _("You have the <strong>right</strong> to request information " \
                "from any publicly-funded body, and get answers. " \
                "{{site_name}} helps you make a Freedom of Information " \
                "request. It also publishes all requests online.",
                :site_name => site_name) %>
        </p>
      </div>
      <div class="hiw-content__steps">
        <ol class="steps__list row">
          <li>
            <div class="steps__step-box rounded-lg shadow-md">
              <p class="text-lg text-green-500"><%= _("Use this site to make your request for information – we'll show you how.") %></p>
            </div>
            <div class="steps__step-number flex justify-center items-center" aria-hidden="true">
              <p>1</p>
            </div>
          </li>
          <li class="lg:pt-40">
            <div class="steps__step-box rounded-lg shadow-md">
              <p class="text-lg text-green-500"><%= _("We'll drop you an email as soon as your request gets a response.") %></p>
            </div>
            <div class="steps__step-number flex justify-center items-center" aria-hidden="true">
              <p>2</p>
            </div>
          </li>
          <li class="lg:pt-80">
            <div class="steps__step-box rounded-lg shadow-md">
              <p class="text-lg text-green-500"><%= _("We publish it all online. Great! Now you have your answer, and everybody else can access it too.") %></p>
            </div>
            <div class="steps__step-number flex justify-center items-center" aria-hidden="true">
              <p >3</p>
            </div>
          </li>
        </ol>
        <div class="theme-blue">
          <%#= link_to _("Learn more &rarr;"), help_about_path %>
          <div class="text-center pt-20  flex justify-center items-center">
            <a href="<%=  help_about_path %>">
              <svg width="267" height="64" viewBox="0 0 267 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="267" height="64" rx="15" fill="#0098DA"/>
                <path d="M75.598 37.558H80.658V40H72.518V24.644H75.598V37.558ZM93.9457 33.642C93.9457 34.082 93.9163 34.478 93.8577 34.83H84.9477C85.021 35.71 85.329 36.3993 85.8717 36.898C86.4143 37.3967 87.0817 37.646 87.8737 37.646C89.0177 37.646 89.8317 37.1547 90.3157 36.172H93.6377C93.2857 37.3453 92.611 38.3133 91.6137 39.076C90.6163 39.824 89.3917 40.198 87.9397 40.198C86.7663 40.198 85.7103 39.9413 84.7717 39.428C83.8477 38.9 83.1217 38.1593 82.5937 37.206C82.0803 36.2527 81.8237 35.1527 81.8237 33.906C81.8237 32.6447 82.0803 31.5373 82.5937 30.584C83.107 29.6307 83.8257 28.8973 84.7497 28.384C85.6737 27.8707 86.737 27.614 87.9397 27.614C89.0983 27.614 90.1323 27.8633 91.0417 28.362C91.9657 28.8607 92.677 29.572 93.1757 30.496C93.689 31.4053 93.9457 32.454 93.9457 33.642ZM90.7557 32.762C90.741 31.97 90.455 31.3393 89.8977 30.87C89.3403 30.386 88.6583 30.144 87.8517 30.144C87.089 30.144 86.4437 30.3787 85.9157 30.848C85.4023 31.3027 85.087 31.9407 84.9697 32.762H90.7557ZM95.4018 33.862C95.4018 32.63 95.6438 31.5373 96.1278 30.584C96.6264 29.6307 97.2938 28.8973 98.1298 28.384C98.9804 27.8707 99.9264 27.614 100.968 27.614C101.877 27.614 102.669 27.7973 103.344 28.164C104.033 28.5307 104.583 28.9927 104.994 29.55V27.812H108.096V40H104.994V38.218C104.598 38.79 104.048 39.2667 103.344 39.648C102.654 40.0147 101.855 40.198 100.946 40.198C99.9191 40.198 98.9804 39.934 98.1298 39.406C97.2938 38.878 96.6264 38.1373 96.1278 37.184C95.6438 36.216 95.4018 35.1087 95.4018 33.862ZM104.994 33.906C104.994 33.158 104.847 32.52 104.554 31.992C104.26 31.4493 103.864 31.0387 103.366 30.76C102.867 30.4667 102.332 30.32 101.76 30.32C101.188 30.32 100.66 30.4593 100.176 30.738C99.6918 31.0167 99.2958 31.4273 98.9878 31.97C98.6944 32.498 98.5478 33.1287 98.5478 33.862C98.5478 34.5953 98.6944 35.2407 98.9878 35.798C99.2958 36.3407 99.6918 36.7587 100.176 37.052C100.674 37.3453 101.202 37.492 101.76 37.492C102.332 37.492 102.867 37.3527 103.366 37.074C103.864 36.7807 104.26 36.37 104.554 35.842C104.847 35.2993 104.994 34.654 104.994 33.906ZM114.184 29.704C114.58 29.0587 115.093 28.5527 115.724 28.186C116.369 27.8193 117.103 27.636 117.924 27.636V30.87H117.11C116.142 30.87 115.409 31.0973 114.91 31.552C114.426 32.0067 114.184 32.7987 114.184 33.928V40H111.104V27.812H114.184V29.704ZM126.752 27.636C128.204 27.636 129.378 28.098 130.272 29.022C131.167 29.9313 131.614 31.2073 131.614 32.85V40H128.534V33.268C128.534 32.3 128.292 31.5593 127.808 31.046C127.324 30.518 126.664 30.254 125.828 30.254C124.978 30.254 124.303 30.518 123.804 31.046C123.32 31.5593 123.078 32.3 123.078 33.268V40H119.998V27.812H123.078V29.33C123.489 28.802 124.01 28.3913 124.64 28.098C125.286 27.79 125.99 27.636 126.752 27.636ZM156.528 24.644V40H153.448V30.012L149.334 40H147.002L142.866 30.012V40H139.786V24.644H143.284L148.168 36.062L153.052 24.644H156.528ZM164.985 40.198C163.811 40.198 162.755 39.9413 161.817 39.428C160.878 38.9 160.137 38.1593 159.595 37.206C159.067 36.2527 158.803 35.1527 158.803 33.906C158.803 32.6593 159.074 31.5593 159.617 30.606C160.174 29.6527 160.929 28.9193 161.883 28.406C162.836 27.878 163.899 27.614 165.073 27.614C166.246 27.614 167.309 27.878 168.263 28.406C169.216 28.9193 169.964 29.6527 170.507 30.606C171.064 31.5593 171.343 32.6593 171.343 33.906C171.343 35.1527 171.057 36.2527 170.485 37.206C169.927 38.1593 169.165 38.9 168.197 39.428C167.243 39.9413 166.173 40.198 164.985 40.198ZM164.985 37.514C165.542 37.514 166.063 37.382 166.547 37.118C167.045 36.8393 167.441 36.4287 167.735 35.886C168.028 35.3433 168.175 34.6833 168.175 33.906C168.175 32.7473 167.867 31.86 167.251 31.244C166.649 30.6133 165.909 30.298 165.029 30.298C164.149 30.298 163.408 30.6133 162.807 31.244C162.22 31.86 161.927 32.7473 161.927 33.906C161.927 35.0647 162.213 35.9593 162.785 36.59C163.371 37.206 164.105 37.514 164.985 37.514ZM176.682 29.704C177.078 29.0587 177.591 28.5527 178.222 28.186C178.867 27.8193 179.601 27.636 180.422 27.636V30.87H179.608C178.64 30.87 177.907 31.0973 177.408 31.552C176.924 32.0067 176.682 32.7987 176.682 33.928V40H173.602V27.812H176.682V29.704ZM193.827 33.642C193.827 34.082 193.797 34.478 193.739 34.83H184.829C184.902 35.71 185.21 36.3993 185.753 36.898C186.295 37.3967 186.963 37.646 187.755 37.646C188.899 37.646 189.713 37.1547 190.197 36.172H193.519C193.167 37.3453 192.492 38.3133 191.495 39.076C190.497 39.824 189.273 40.198 187.821 40.198C186.647 40.198 185.591 39.9413 184.653 39.428C183.729 38.9 183.003 38.1593 182.475 37.206C181.961 36.2527 181.705 35.1527 181.705 33.906C181.705 32.6447 181.961 31.5373 182.475 30.584C182.988 29.6307 183.707 28.8973 184.631 28.384C185.555 27.8707 186.618 27.614 187.821 27.614C188.979 27.614 190.013 27.8633 190.923 28.362C191.847 28.8607 192.558 29.572 193.057 30.496C193.57 31.4053 193.827 32.454 193.827 33.642ZM190.637 32.762C190.622 31.97 190.336 31.3393 189.779 30.87C189.221 30.386 188.539 30.144 187.733 30.144C186.97 30.144 186.325 30.3787 185.797 30.848C185.283 31.3027 184.968 31.9407 184.851 32.762H190.637Z" fill="white"/>
              </svg>
            </a>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>
