<%- popular_bodies = PublicBody.popular_bodies(@locale) %>
<section class="w-11/12 mx-auto rounded-3xl  pt-40 lg:flex lg:gap-6  justify-center justify-items py-8 ">
  <% if popular_bodies.size > 0 %>
  <aside class="p-8 shadow-md ">

    <div class="mx-auto">
      <h1 class=" text-xl xl:text-4xl font-semibold ">
        <%= _("Who can I request information from?") %>
      </h1>
      <p class="pt-4 text-gray-400">
        <%= n_("{{site_name}} covers requests to {{number_of_authorities}} authority, including:",
               "{{site_name}} covers requests to {{number_of_authorities}} authorities, including:",
               PublicBody.visible.count,
               :site_name => site_name,
               :number_of_authorities => number_with_delimiter(PublicBody.visible.count)) %>
      </p>
    </div>

    <!-- ----------- -->
    <ul class=" mx-auto pt-4">
      <% popular_bodies.each do |popular_body| %>

      <li class="flex w-100 justify-around border-2
             border-blue-300 p-4 rounded-2xl mt-4
              requests-container cursor-pointer
             ">
        <a href="<%= public_body_path(popular_body)  %>  " class="requests-link">
          <%= popular_body.name  %>
        </a>
        <small class="text-gray-400 hover:text-white">
          <%= n_('{{count}} request', '{{count}} requests',
                    popular_body.info_requests_visible_count,
                    :count => popular_body.info_requests_visible_count) %>
        </small>
      </li>
      <% end %>


    </ul>


    <div class="pt-4 mx-auto ">
      <a href="<%= list_public_bodies_default_path %>">
        <svg class="pt-4 mx-auto" width="267" height="64" viewBox="0 0 267 64" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="267" height="64" rx="15" fill="#0098DA"/>
          <path d="M86.23 32.124C87.0953 32.2853 87.8067 32.718 88.364 33.422C88.9213 34.126 89.2 34.9327 89.2 35.842C89.2 36.6633 88.9947 37.3893 88.584 38.02C88.188 38.636 87.6087 39.12 86.846 39.472C86.0833 39.824 85.1813 40 84.14 40H77.518V24.644H83.854C84.8953 24.644 85.79 24.8127 86.538 25.15C87.3007 25.4873 87.8727 25.9567 88.254 26.558C88.65 27.1593 88.848 27.8413 88.848 28.604C88.848 29.4987 88.606 30.2467 88.122 30.848C87.6527 31.4493 87.022 31.8747 86.23 32.124ZM80.598 30.98H83.414C84.1473 30.98 84.712 30.8187 85.108 30.496C85.504 30.1587 85.702 29.682 85.702 29.066C85.702 28.45 85.504 27.9733 85.108 27.636C84.712 27.2987 84.1473 27.13 83.414 27.13H80.598V30.98ZM83.7 37.492C84.448 37.492 85.0273 37.316 85.438 36.964C85.8633 36.612 86.076 36.1133 86.076 35.468C86.076 34.808 85.856 34.2947 85.416 33.928C84.976 33.5467 84.382 33.356 83.634 33.356H80.598V37.492H83.7ZM94.7347 29.704C95.1307 29.0587 95.6441 28.5527 96.2747 28.186C96.9201 27.8193 97.6534 27.636 98.4747 27.636V30.87H97.6607C96.6927 30.87 95.9594 31.0973 95.4607 31.552C94.9767 32.0067 94.7347 32.7987 94.7347 33.928V40H91.6547V27.812H94.7347V29.704ZM105.961 40.198C104.788 40.198 103.732 39.9413 102.793 39.428C101.855 38.9 101.114 38.1593 100.571 37.206C100.043 36.2527 99.7793 35.1527 99.7793 33.906C99.7793 32.6593 100.051 31.5593 100.593 30.606C101.151 29.6527 101.906 28.9193 102.859 28.406C103.813 27.878 104.876 27.614 106.049 27.614C107.223 27.614 108.286 27.878 109.239 28.406C110.193 28.9193 110.941 29.6527 111.483 30.606C112.041 31.5593 112.319 32.6593 112.319 33.906C112.319 35.1527 112.033 36.2527 111.461 37.206C110.904 38.1593 110.141 38.9 109.173 39.428C108.22 39.9413 107.149 40.198 105.961 40.198ZM105.961 37.514C106.519 37.514 107.039 37.382 107.523 37.118C108.022 36.8393 108.418 36.4287 108.711 35.886C109.005 35.3433 109.151 34.6833 109.151 33.906C109.151 32.7473 108.843 31.86 108.227 31.244C107.626 30.6133 106.885 30.298 106.005 30.298C105.125 30.298 104.385 30.6133 103.783 31.244C103.197 31.86 102.903 32.7473 102.903 33.906C102.903 35.0647 103.189 35.9593 103.761 36.59C104.348 37.206 105.081 37.514 105.961 37.514ZM131.475 27.812L127.911 40H124.589L122.367 31.486L120.145 40H116.801L113.215 27.812H116.339L118.495 37.096L120.827 27.812H124.083L126.371 37.074L128.527 27.812H131.475ZM137.805 40.198C136.808 40.198 135.913 40.022 135.121 39.67C134.329 39.3033 133.698 38.812 133.229 38.196C132.774 37.58 132.525 36.898 132.481 36.15H135.583C135.642 36.6193 135.869 37.008 136.265 37.316C136.676 37.624 137.182 37.778 137.783 37.778C138.37 37.778 138.824 37.6607 139.147 37.426C139.484 37.1913 139.653 36.8907 139.653 36.524C139.653 36.128 139.448 35.8347 139.037 35.644C138.641 35.4387 138.003 35.2187 137.123 34.984C136.214 34.764 135.466 34.5367 134.879 34.302C134.307 34.0673 133.808 33.708 133.383 33.224C132.972 32.74 132.767 32.0873 132.767 31.266C132.767 30.5913 132.958 29.9753 133.339 29.418C133.735 28.8607 134.292 28.4207 135.011 28.098C135.744 27.7753 136.602 27.614 137.585 27.614C139.037 27.614 140.196 27.9807 141.061 28.714C141.926 29.4327 142.403 30.408 142.491 31.64H139.543C139.499 31.156 139.294 30.7747 138.927 30.496C138.575 30.2027 138.098 30.056 137.497 30.056C136.94 30.056 136.507 30.1587 136.199 30.364C135.906 30.5693 135.759 30.8553 135.759 31.222C135.759 31.6327 135.964 31.948 136.375 32.168C136.786 32.3733 137.424 32.586 138.289 32.806C139.169 33.026 139.895 33.2533 140.467 33.488C141.039 33.7227 141.53 34.0893 141.941 34.588C142.366 35.072 142.586 35.7173 142.601 36.524C142.601 37.228 142.403 37.8587 142.007 38.416C141.626 38.9733 141.068 39.4133 140.335 39.736C139.616 40.044 138.773 40.198 137.805 40.198ZM156.459 33.642C156.459 34.082 156.43 34.478 156.371 34.83H147.461C147.535 35.71 147.843 36.3993 148.385 36.898C148.928 37.3967 149.595 37.646 150.387 37.646C151.531 37.646 152.345 37.1547 152.829 36.172H156.151C155.799 37.3453 155.125 38.3133 154.127 39.076C153.13 39.824 151.905 40.198 150.453 40.198C149.28 40.198 148.224 39.9413 147.285 39.428C146.361 38.9 145.635 38.1593 145.107 37.206C144.594 36.2527 144.337 35.1527 144.337 33.906C144.337 32.6447 144.594 31.5373 145.107 30.584C145.621 29.6307 146.339 28.8973 147.263 28.384C148.187 27.8707 149.251 27.614 150.453 27.614C151.612 27.614 152.646 27.8633 153.555 28.362C154.479 28.8607 155.191 29.572 155.689 30.496C156.203 31.4053 156.459 32.454 156.459 33.642ZM153.269 32.762C153.255 31.97 152.969 31.3393 152.411 30.87C151.854 30.386 151.172 30.144 150.365 30.144C149.603 30.144 148.957 30.3787 148.429 30.848C147.916 31.3027 147.601 31.9407 147.483 32.762H153.269ZM163.158 33.862C163.158 32.63 163.4 31.5373 163.884 30.584C164.382 29.6307 165.05 28.8973 165.886 28.384C166.736 27.8707 167.682 27.614 168.724 27.614C169.633 27.614 170.425 27.7973 171.1 28.164C171.789 28.5307 172.339 28.9927 172.75 29.55V27.812H175.852V40H172.75V38.218C172.354 38.79 171.804 39.2667 171.1 39.648C170.41 40.0147 169.611 40.198 168.702 40.198C167.675 40.198 166.736 39.934 165.886 39.406C165.05 38.878 164.382 38.1373 163.884 37.184C163.4 36.216 163.158 35.1087 163.158 33.862ZM172.75 33.906C172.75 33.158 172.603 32.52 172.31 31.992C172.016 31.4493 171.62 31.0387 171.122 30.76C170.623 30.4667 170.088 30.32 169.516 30.32C168.944 30.32 168.416 30.4593 167.932 30.738C167.448 31.0167 167.052 31.4273 166.744 31.97C166.45 32.498 166.304 33.1287 166.304 33.862C166.304 34.5953 166.45 35.2407 166.744 35.798C167.052 36.3407 167.448 36.7587 167.932 37.052C168.43 37.3453 168.958 37.492 169.516 37.492C170.088 37.492 170.623 37.3527 171.122 37.074C171.62 36.7807 172.016 36.37 172.31 35.842C172.603 35.2993 172.75 34.654 172.75 33.906ZM181.94 23.72V40H178.86V23.72H181.94ZM188.063 23.72V40H184.983V23.72H188.063Z" fill="white"/>
        </svg>
      </a>

    </div>

  </aside>
  <% end %>
  <aside class="p-8 shadow-md sm:mt-8 lg:mt-0">

    <div class=" mx-auto">
      <h1 class="text-xl xl:text-4xl font-semibold ">
        <% if @request_events_all_successful %>
          <%= _("What information has been released?") %>
        <% else %>
          <%= _("What information has been requested?") %>
        <% end %>
      </h1>
      <p class="pt-4 text-gray-400">
        <%= n_("{{site_name}} users have made {{number_of_requests}} request, including:",
               "{{site_name}} users have made {{number_of_requests}} requests, including:",
               @number_of_requests,
               :site_name => site_name,
               :number_of_requests => number_with_delimiter(@number_of_requests)) %>
      </p>
    </div>

    <!-- ----------- -->
    <ul class="w-100 mx-auto pt-4">
      <% @request_events.each do |event| %>

    <li class=" border-2
             border-blue-300 p-4 rounded-2xl mt-4
              requests-container cursor-pointer
             ">
        <p class="">
          <% if @request_events_all_successful %>
            <%= _("{{public_body_link}} answered a request about",
                  :public_body_link => public_body_link(event.info_request.public_body,  "requests-link")) %>

          <% else %>
            <%= _("{{public_body_link}} was sent a request about",
                  :public_body_link => public_body_link(event.info_request.public_body, 'requests-link')) %>
          <% end %>

          <%= link_to h(event.info_request.title), request_path(event.info_request) %>
        </p>
        <small class="text-gray-400 pt-2 hover:text-white">
          <%= _('{{length_of_time}} ago',
                :length_of_time => time_ago_in_words(event.described_at)) %>
        </small>
      </li>

      <% end %>
    </ul>


    <div class="pt-4 mx-auto ">
      <a href="<%= request_list_all_path %>">
        <svg class="pt-4 mx-auto" width="267" height="64" viewBox="0 0 267 64" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="267" height="64" rx="15" fill="#0098DA"/>
          <path d="M86.23 32.124C87.0953 32.2853 87.8067 32.718 88.364 33.422C88.9213 34.126 89.2 34.9327 89.2 35.842C89.2 36.6633 88.9947 37.3893 88.584 38.02C88.188 38.636 87.6087 39.12 86.846 39.472C86.0833 39.824 85.1813 40 84.14 40H77.518V24.644H83.854C84.8953 24.644 85.79 24.8127 86.538 25.15C87.3007 25.4873 87.8727 25.9567 88.254 26.558C88.65 27.1593 88.848 27.8413 88.848 28.604C88.848 29.4987 88.606 30.2467 88.122 30.848C87.6527 31.4493 87.022 31.8747 86.23 32.124ZM80.598 30.98H83.414C84.1473 30.98 84.712 30.8187 85.108 30.496C85.504 30.1587 85.702 29.682 85.702 29.066C85.702 28.45 85.504 27.9733 85.108 27.636C84.712 27.2987 84.1473 27.13 83.414 27.13H80.598V30.98ZM83.7 37.492C84.448 37.492 85.0273 37.316 85.438 36.964C85.8633 36.612 86.076 36.1133 86.076 35.468C86.076 34.808 85.856 34.2947 85.416 33.928C84.976 33.5467 84.382 33.356 83.634 33.356H80.598V37.492H83.7ZM94.7347 29.704C95.1307 29.0587 95.6441 28.5527 96.2747 28.186C96.9201 27.8193 97.6534 27.636 98.4747 27.636V30.87H97.6607C96.6927 30.87 95.9594 31.0973 95.4607 31.552C94.9767 32.0067 94.7347 32.7987 94.7347 33.928V40H91.6547V27.812H94.7347V29.704ZM105.961 40.198C104.788 40.198 103.732 39.9413 102.793 39.428C101.855 38.9 101.114 38.1593 100.571 37.206C100.043 36.2527 99.7793 35.1527 99.7793 33.906C99.7793 32.6593 100.051 31.5593 100.593 30.606C101.151 29.6527 101.906 28.9193 102.859 28.406C103.813 27.878 104.876 27.614 106.049 27.614C107.223 27.614 108.286 27.878 109.239 28.406C110.193 28.9193 110.941 29.6527 111.483 30.606C112.041 31.5593 112.319 32.6593 112.319 33.906C112.319 35.1527 112.033 36.2527 111.461 37.206C110.904 38.1593 110.141 38.9 109.173 39.428C108.22 39.9413 107.149 40.198 105.961 40.198ZM105.961 37.514C106.519 37.514 107.039 37.382 107.523 37.118C108.022 36.8393 108.418 36.4287 108.711 35.886C109.005 35.3433 109.151 34.6833 109.151 33.906C109.151 32.7473 108.843 31.86 108.227 31.244C107.626 30.6133 106.885 30.298 106.005 30.298C105.125 30.298 104.385 30.6133 103.783 31.244C103.197 31.86 102.903 32.7473 102.903 33.906C102.903 35.0647 103.189 35.9593 103.761 36.59C104.348 37.206 105.081 37.514 105.961 37.514ZM131.475 27.812L127.911 40H124.589L122.367 31.486L120.145 40H116.801L113.215 27.812H116.339L118.495 37.096L120.827 27.812H124.083L126.371 37.074L128.527 27.812H131.475ZM137.805 40.198C136.808 40.198 135.913 40.022 135.121 39.67C134.329 39.3033 133.698 38.812 133.229 38.196C132.774 37.58 132.525 36.898 132.481 36.15H135.583C135.642 36.6193 135.869 37.008 136.265 37.316C136.676 37.624 137.182 37.778 137.783 37.778C138.37 37.778 138.824 37.6607 139.147 37.426C139.484 37.1913 139.653 36.8907 139.653 36.524C139.653 36.128 139.448 35.8347 139.037 35.644C138.641 35.4387 138.003 35.2187 137.123 34.984C136.214 34.764 135.466 34.5367 134.879 34.302C134.307 34.0673 133.808 33.708 133.383 33.224C132.972 32.74 132.767 32.0873 132.767 31.266C132.767 30.5913 132.958 29.9753 133.339 29.418C133.735 28.8607 134.292 28.4207 135.011 28.098C135.744 27.7753 136.602 27.614 137.585 27.614C139.037 27.614 140.196 27.9807 141.061 28.714C141.926 29.4327 142.403 30.408 142.491 31.64H139.543C139.499 31.156 139.294 30.7747 138.927 30.496C138.575 30.2027 138.098 30.056 137.497 30.056C136.94 30.056 136.507 30.1587 136.199 30.364C135.906 30.5693 135.759 30.8553 135.759 31.222C135.759 31.6327 135.964 31.948 136.375 32.168C136.786 32.3733 137.424 32.586 138.289 32.806C139.169 33.026 139.895 33.2533 140.467 33.488C141.039 33.7227 141.53 34.0893 141.941 34.588C142.366 35.072 142.586 35.7173 142.601 36.524C142.601 37.228 142.403 37.8587 142.007 38.416C141.626 38.9733 141.068 39.4133 140.335 39.736C139.616 40.044 138.773 40.198 137.805 40.198ZM156.459 33.642C156.459 34.082 156.43 34.478 156.371 34.83H147.461C147.535 35.71 147.843 36.3993 148.385 36.898C148.928 37.3967 149.595 37.646 150.387 37.646C151.531 37.646 152.345 37.1547 152.829 36.172H156.151C155.799 37.3453 155.125 38.3133 154.127 39.076C153.13 39.824 151.905 40.198 150.453 40.198C149.28 40.198 148.224 39.9413 147.285 39.428C146.361 38.9 145.635 38.1593 145.107 37.206C144.594 36.2527 144.337 35.1527 144.337 33.906C144.337 32.6447 144.594 31.5373 145.107 30.584C145.621 29.6307 146.339 28.8973 147.263 28.384C148.187 27.8707 149.251 27.614 150.453 27.614C151.612 27.614 152.646 27.8633 153.555 28.362C154.479 28.8607 155.191 29.572 155.689 30.496C156.203 31.4053 156.459 32.454 156.459 33.642ZM153.269 32.762C153.255 31.97 152.969 31.3393 152.411 30.87C151.854 30.386 151.172 30.144 150.365 30.144C149.603 30.144 148.957 30.3787 148.429 30.848C147.916 31.3027 147.601 31.9407 147.483 32.762H153.269ZM163.158 33.862C163.158 32.63 163.4 31.5373 163.884 30.584C164.382 29.6307 165.05 28.8973 165.886 28.384C166.736 27.8707 167.682 27.614 168.724 27.614C169.633 27.614 170.425 27.7973 171.1 28.164C171.789 28.5307 172.339 28.9927 172.75 29.55V27.812H175.852V40H172.75V38.218C172.354 38.79 171.804 39.2667 171.1 39.648C170.41 40.0147 169.611 40.198 168.702 40.198C167.675 40.198 166.736 39.934 165.886 39.406C165.05 38.878 164.382 38.1373 163.884 37.184C163.4 36.216 163.158 35.1087 163.158 33.862ZM172.75 33.906C172.75 33.158 172.603 32.52 172.31 31.992C172.016 31.4493 171.62 31.0387 171.122 30.76C170.623 30.4667 170.088 30.32 169.516 30.32C168.944 30.32 168.416 30.4593 167.932 30.738C167.448 31.0167 167.052 31.4273 166.744 31.97C166.45 32.498 166.304 33.1287 166.304 33.862C166.304 34.5953 166.45 35.2407 166.744 35.798C167.052 36.3407 167.448 36.7587 167.932 37.052C168.43 37.3453 168.958 37.492 169.516 37.492C170.088 37.492 170.623 37.3527 171.122 37.074C171.62 36.7807 172.016 36.37 172.31 35.842C172.603 35.2993 172.75 34.654 172.75 33.906ZM181.94 23.72V40H178.86V23.72H181.94ZM188.063 23.72V40H184.983V23.72H188.063Z" fill="white"/>
        </svg>
      </a>

    </div>

  </aside>



</section>